<nav class="h-100 py-5 d-flex flex-column">
  <h1 class="logo ps-4 mb-5">
    <a
      href="index.html"
      class="d-block hide-text opacity-70--hover"
      title="ANSWER"
    >
      ANSWER
    </a>
  </h1>
  <ul class="list-unstyled">
    <li class="position-relative my-3">
        <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark">
            <span class="material-icons me-3"> assessment </span>
            <span class="font-weight-bold">Dashboard</span>
        </a>
    </li>
    <li class="position-relative my-3">
        <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark">
            <span class="material-icons me-3"> question_answer </span>
            <span class="font-weight-bold">Question</span>
        </a>
    </li>
    <li class="position-relative my-3">
      <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark">
        <span class="material-icons me-3"> assignment </span>
        <span class="font-weight-bold">Assignment</span>
      </a>
    </li>
    <li class="position-relative my-3">
        <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark">
            <span class="material-icons me-3"> video_library </span>
            <span class="font-weight-bold">Course</span>
        </a>
    </li>
    <li class="position-relative my-3">
        <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark  active">
            <span class="material-icons me-3"> people </span>
            <span class="font-weight-bold">Admin</span>
        </a>
    </li>
    <li class="position-relative my-3">
        <a href="#" title="" class="d-flex py-2 text-decoration-none nav-items text-dark">
            <span class="material-icons me-3"> settings </span>
            <span class="font-weight-bold">Settings</span>
        </a>
    </li>
  </ul>
  <div class="member-info-blk d-flex ps-4 align-items-center mt-auto">
    <img src="../assets/images/andychen.jpeg" class="member-info-img object-fit-cover rounded-circle img-fluid d-block" alt="...">
    <div class="ms-3 d-flex flex-column">
        <span class="name font-weight-bold">Andy Chen</span>
        <span class="mail">andy0401@mail.com</span>
    </div>
  </div>
  <!-- <a href="index.html">index</a>
  <a href="about.html">about</a>
  <a href="contact.html">contact</a> -->
</nav>
